.container {
    position: fixed;
    display: flex;
    width: calc(100% - 20rem);
    box-sizing: border-box; /* per non far sforare il contenuto  NON HO LA PIù PALLIDA IDEA DEL PERCHè OK*/
    padding: 1rem 2.5rem 3rem 2.5rem;
    bottom: 0;
    background-color: #1c1c1c;
}

.inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 0.85rem 1rem;
    border-radius: 0.25rem;
    background-color: #2a2a2a;
}

.inputContainer:hover {
    background-color: #3c3c3c;
}

.addToDo {
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    color: #fff;
    background: none;
    border: none;
}

.addToDo:focus {
    outline: none;
}

.tbPlus {
    font-size: 1.5rem;
    color: #fff;
}