.container {
    position: relative;
    margin: 0 0 0 13%;

    width: 87%;
}

.addTodo {
    position: fixed;
    color: red;
}

/* .display {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 0 ;
} */

