.container {
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.3rem 0.35rem;
    padding: 0.6rem 0.7rem;
}

.wrapper:hover {
    background-color: #333333;
    border-radius: 0.2rem;
}

.wrapper:focus {
    background-color: #333333;
    border-radius: 0.2rem;
}

.icon {
    display: flex;
    font-size: 20px;
}

.text {
    font-size: 14px;
    font-weight: 600;
}
