.container {
    width: 90%;
    align-items: center;
}

.searchBar {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 0.4rem 0.5rem;
    background: none;
    border: 1px solid #323232;
    border-bottom: 1px solid #9b9b9b;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    color: white;
}

.searchBar:focus {
    outline: 0;
    box-shadow: inset 0 -1px #b0c6cb;
    transition: box-shadow 0.3s;
}