.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto ;

    /* width: 13%; MODIFICA GRANDEZZA SIDEBAR*/
    /* min-width: 13%; MODIFICA GRANDEZZA SIDEBAR*/
    width: 20rem;

    height: 100%;
    

    background-color: #222222;
}