.container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 0.25rem;
    background-color: #2a2a2a;
    font-size: 0.875rem;
}

.container:hover {
    background-color: #363636;
}

.toDoMain {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkBox {
    width: 1.5rem;
    height: 1.5rem;
    /* border-radius: 50%; */ /* Rimosso rende più semplice il check dei todo */
    cursor: pointer;
}

.info > div:nth-child(2) {
    font-size: 0.75rem;
    color: #d4d4d4;
  }

.star {
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
  color: #c8c8c8;  
}

/* .ceckBox {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.ceckBox:hover { 
    outline: none;
} */